/*字体设置*/
@font-face
{
    font-family: 'oppoRegular';

    src: url('appo_paint-new.otf');
}
/*导航栏设置*/
#navigation
{
    margin: 50px 0;
}
#navigation a.navbar-brand
{
    font-family: oppoRegular, 'MS Sans Serif', Geneva, sans-serif;
    font-size: 40px;
    font-style: bold;
    line-height: 80px;

    padding: 0;

    color: #000;
}
/*小屏幕时展开的导航栏的状态*/
#example-navbar-collapse ul a
{
    font-size: 18px;
    line-height: 80px;

    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 16px;

    cursor: pointer;
    letter-spacing: 3px;
}
/*图片展示区main的样式*/
#main
{
    margin-top: 195px;
}
#main .hover-opacity
{
    padding: 0;
}
/*页脚的样式*/
#footer .row
{
    padding-top: 5px;
    padding-bottom: 10px;
}
#footer .row div:first-child
{
    padding: 0;
}
#footer .row div:nth-child(2)
{
    float: right;
}
#footer .row div:nth-child(2) span
{
    opacity: .7;
    color: #000;
}
/*页脚的左边的图标框的样式*/
#footer #footer-ul
{
    padding: 0;

    list-style-type: none;
}
#footer #footer-ul li
{
    font-size: 16px;

    padding: 0 30px 0 0;
}
#footer #footer-ul li span
{
    opacity: .7;
    color: #000;
}
#footer #footer-ul a:hover
{
    text-decoration: none;
}
/*页脚右边的向上箭头的样式*/
#footer div.top
{
    float: right;
}
